header {
  margin-bottom: 350px;
}

.main-vid {
  position: relative;
  top: 0;
  left: 0;
  width: 1080px;
  height: 600px;
  object-fit: cover;
  margin-bottom: 50px;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
}

.comment strong {
  margin-bottom: 20px;
}

.main-char {
  position: absolute;
  top: 800px;
  left: 350px;
}

main {
  position: relative;
}

.main-nav {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 1020px;
  margin: 0 auto;
}

.nav {
  position: relative;
  height: 300px;
  border: 2px solid rgb(84, 84, 84);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-1 {
  width: 1020px;
  background-image: url("../images/main-nav-1.jpg");
}

.nav-2 {
  display: inline-block;
  width: 500px;
  margin: 20px 14px 0 0;
  background-image: url("../images/main-nav-2.jpg");
}

.nav-3 {
  display: inline-block;
  width: 500px;
  margin-top: 20px;
  background-image: url("../images/main-nav-3.jpg");
}

.main-nav h2 {
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  text-align: center;
  border-left: 2px solid wheat;
}
