.bg {
  width: 256px;
  height: 256px;
  background: url("mario.png");
  border: 2px solid salmon;
}

.bg h3 {
  margin-top: 0;
}

.opacity {
  height: inherit;
  opacity: 0.5;
  background-color: white;
}

.rgba {
  height: inherit;
  background-color: rgba(225, 255, 255, 0.5);
}

.opacity-transition {
  transition: all 0.5s;
}

.opacity-transition:hover {
  opacity: 0;
}

.scale-img {
  margin: 200px;
  transition: all 0.5s;
}

.scale-img:hover {
  transform: scale(2);
}

.rotate-img {
  margin: 200px;
  transition: all 4.5s;
}

.rotate-img:hover {
  transform: rotateY(1440deg);
}

.circle-alone {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: salmon;
  transition: all 1s;
}

.circle-alone:hover {
  transform: translateX(500px);
}

.container-x {
  width: 50px;
  border: 2px dashed orange;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: crimson;
  transition: all 1s;
}

.container-x:hover .circle {
  transform: translateX(500px);
}

.container-y {
  width: 50px;
  border: 2px dashed green;
}

.container-y:hover .circle {
  transform: translateY(-500px);
}

/* .container {
  width: 150px;
  margin: 150px;
  border: 2px dotted deeppink;
}

.box1 {
  height: 150px;
  background-color: cornflowerblue;
  transition: all 1s;
}

.box2 {
  top: 0;
  left: 0;
  height: 150px;
  background-color: rgb(100, 237, 173);
  transition: all 1s;
}

.box3 {
  position: relative;
  height: 150px;
  background-color: rgb(237, 219, 100);
  transition: all 1s;
}

.container:hover .box1 {
  transform: translate(50px, -50px);
}

.container:hover .box2 {
  transform: translate(70px, -70px);
}

.container:hover .box3 {
  transform: translate(90px, -90px);
} */

.container {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 150px;
  border: 2px dotted deeppink;
}

.box1 {
  height: 150px;
  background-color: cornflowerblue;
  transition: all 1s;
}

/* 
Q. box2,3에서 position:absolute를 선언하면
왜 box2,3의 width:0이 되는건지? */

.box2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(100, 237, 173);
  transition: all 1s;
}

.box3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: rgb(237, 219, 100);
  transition: all 1s;
}

.container:hover .box1 {
  transform: translate(50px, -50px);
}

.container:hover .box2 {
  transform: translate(70px, -70px);
}

.container:hover .box3 {
  transform: translate(90px, -90px);
}

.container-a {
  width: 100%;
  height: 100px;
  border: 2px dashed orange;
}

.circle-a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: crimson;
  transition: all 10s;
}

.circle-b {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: salmon;
  transition: all 1s;
}

.container-a:hover .circle-a {
  transform: translateX(500px);
}

.container-b {
  width: 50px;
  border: 2px dashed green;
}

.container-b:hover .circle-b {
  filter: blur(100px);
}
