* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.01em;
}

.banner {
  width: 100%;
  background-color: #ffc82c;
  position: fixed;
  bottom: 0;
  left: 0;
}

a {
  text-decoration: none;
}

.banner-title a {
  color: #1f2d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
  height: 64px;
}

.landing {
  background-image: url("./assets/img-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  padding: 0 20px;
}

.landing-title {
  line-height: 1.25;
  letter-spacing: -0.03em;
  color: #fff;
  margin-bottom: 24px;
  text-align: right;
}

.landing-title strong {
  display: block;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.01em;
}

.landing-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 52px;
  font-size: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  border: 2px solid white;
  line-height: 1;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .banner {
    top: 0;
    bottom: auto;
  }

  .banner-title a {
    height: 80px;
  }

  .landing {
    align-items: center;
  }

  .landing-title {
    margin-bottom: 32px;
    font-size: 50px;
    text-align: center;
  }

  .landing-link {
    font-size: 18px;
    width: 180px;
    height: 56px;
  }
}
