body {
  margin: 0;
  padding: 0;
  background-color: #04070e;
  background-image: url("images/laika.png"), url("images/sputnik.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 0% 94%, 95% 7%;
}

.frame {
  width: 1600px;
  margin: 0 auto;
  color: white;
  border: 2px dashed red;
}

nav {
  margin-bottom: 0px;
}

nav h2 {
  display: inline-block;
}

nav ul {
  display: inline-block;
  list-style: none;
  float: right;
  padding-top: 10px;
}

nav ul li {
  display: inline;
  padding: 7px 30px;
}

.description {
  margin-bottom: 80px;
}

.description h2 {
  padding: 10px 20px;
}

.description p {
  padding: 0 40px;
  font-size: 11pt;
  line-height: 18pt;
}

main {
  position: relative;
  height: 900px;
  background: url("images/bg.png");
}

.ui {
  border: 1px dashed gray;
  background-color: rgba(176, 21, 44, 0.3);
  display: inline-block;
  position: absolute;
}

.id {
  top: 43px;
  left: 54px;
}

.fuel {
  top: 108px;
  left: 54px;
}

.fuel-bar {
  position: absolute;
  top: 5px;
  left: 24px;
  transition: all 1s;
  transform-origin: center left; /*원점 설정 */
}

.fuel:hover .fuel-bar {
  transform: scaleX(0.3);
}

.mineral {
  top: 150px;
  left: 54px;
}

.mineral-bar {
  position: absolute;
  top: 6px;
  left: 28px;
  opacity: 0;
  transition: opacity 1s;
}

.mineral:hover .mineral-bar {
  opacity: 1;
}

footer {
  height: 136px;
  margin: 80px 0;
  background: url(images/footer-bg.png) no-repeat;
  background-position: center center;
  text-align: center;
}

footer p {
  line-height: 136px;
  text-shadow: 1px 1px 0 black;
}
